.form__input {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form__input input {
    outline: none;
}

.form__input span {
    position: absolute;
    top: 15px;
    right: 50px;
    font-size: 11px;
}