.post .form_post {
    display: flex;
    flex-direction: column;
}
.post .form_post label, .form_post h2 {
    font: 1.6em sans-serif;
    margin-left: 20px;
}
.post .form_post textarea {
    resize: none;
    outline: none;
    width: 88%;
    margin: 10px 20px;
    padding: 5px;
}
.btn__post {
    display: flex;
    flex-direction: row-reverse;
}

.btn__post button {
    margin-right: 68px;
}

.post_new {
    padding: 10px;
}
.post_new .post_item {
    margin: 10px;
    display: flex;
    flex-direction: row;
}
.post_new .post_item img {
    width: 50px;
    height: 50px;
    background: #cccccca3;
    border-radius: 50%;
    display: inline-block;
}
.post_new .post_item p {
    width: 90%;
    margin: 0 auto;
}

@media only screen and (max-width: 1366px) {
    .btn__post button {
        margin-right: calc(10% - 17px);
    }
}